/* Paleta de colores
#000000
#282A3A
#735F32
#C69749 */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}


body {
    background-color: #000000;
}

p, div {
    color: #735F32;
}



/* Nav */

#navbar {
    background-color: #C69749;
}

#navbarNav ul li:hover {
    font-weight: bold;
}

#navbarNav ul li:active {
    font-weight: bold;
    text-decoration: underline;
}

/* footer */

.pie {
    text-align: center;
    padding: 22px;
    background-color: #C69749;
}




/*  */

.sector__video {
    padding: 20px;
    text-align: center;
}

/* formulario */

.formulario {
    text-align: center;
    padding: 20px;
    color: #735F32;
}


.btnenviar {
    background-color: #735F32;
}

.btnenviar:hover {
    border: solid #C69749 1px;
}


/* page banda */

.imgintegrantes {
    width: 80%;
    padding-bottom: 10px;
    border-radius: 5px;
}

/* boton de page contactos */

.fondofecha {
    background-color:#282A3A;
}